/* :root {
   --color-bg:  #eee; 
   --color-primary: #f5ba13;
   --color-white: #fff;
   --color-light-gray: #ccc;
   --color-gray: rgb(138, 137, 137);
   --color-dark: rgba(0, 0, 0, 0.3);
   --color-black: black;
    --transition: color-change 0.5s infinite;
  } */

.containerHome {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerHome > img {
  max-height: 100%;
}

.containerHome > h1 {
  padding: 5rem;
  width: 40%;
  text-align: center;
}

.blink {
  -webkit-animation: var(--transition);
  -moz-animation: var(--transition);
  -o-animation: var(--transition);
  -ms-animation: var(--transition);
  animation: var(--transition);
}

@-webkit-keyframes color-change {
  0% {
    color: var(--color-black);
  }
  50% {
    color: var(--color-primary);
  }
  100% {
    color: var(--color-black);
  }
}
@-moz-keyframes color-change {
  0% {
    color: var(--color-black);
  }
  50% {
    color: var(--color-primary);
  }
  100% {
    color: var(--color-black);
  }
}
@-ms-keyframes color-change {
  0% {
    color: var(--color-primary);
  }
  50% {
    color: var(--color-black);
  }
  100% {
    color: var(--color-primary);
  }
}
@-o-keyframes color-change {
  0% {
    color: var(--color-primary);
  }
  50% {
    color: var(--color-gray);
  }
  100% {
    color: var(--color-primary);
  }
}
@keyframes color-change {
  0% {
    color: var(--color-primary);
  }
  50% {
    color: var(--color-black);
  }
  100% {
    color: var(--color-primary);
  }
}

/* Media Queries (extra-large devices) */

@media screen and (min-width: 1824px) {
}

/* Media Queries (large devices) */

@media screen and (max-width: 1824px) {
  .containerHome > img {
    max-height: 80%;
  }
  .containerHome > h1 {
    padding: 3rem;
    width: 50%;
  }

  h1 {
    font-size: 200%;
  }
}

/* Media Queries (medium devices) */

@media screen and (max-width: 1024px) {

  .containerHome > img {
    max-height: 100%;
  }

  .containerHome {
    flex-direction: column;
  }
}

/* Media Queries (small devices) */

@media screen and (max-width: 600px) {
}
