/* :root {
    --color-bg:  #eee; 
    --color-primary: #f5ba13;
    --color-white: #fff;
    --color-light-gray: #ccc;
    --color-gray: rgb(138, 137, 137);
    --color-dark: rgba(0, 0, 0, 0.3);
    --color-black: black;
    --transition: color-change 0.5s infinite;
  } */

.containerNotes {
  margin: 5% 10%;
}

.note {
  background: var(--color-white);
  border-radius: 7px;
  box-shadow: 0 2px 5px var(--color-shadow);
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.2em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.2em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: var(--color-primary);
  background: var(--color-white);
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: var(--color-white);
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px var(--color-shadow-variant);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-weight: 200;
  font-family: inherit;
  resize: none;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px var(--color-shadow-dark);
  cursor: pointer;
  outline: none;
}
