* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-bg: #eee;
  --color-primary: #f5ba13;
  --color-white: #fff;
  --color-light-gray: #ccc;
  --color-gray: rgb(138, 137, 137);
  --color-dark: rgba(0, 0, 0, 0.3);
  --color-black: black;
  --transition: color-change 0.5s infinite;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: var(--color-bg);
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  padding: 0;
  height: 100%;
  width: 100%;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: var(--color-light-gray);
}
